*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif ;
}
body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); 
    width:100%;height: 85vh;
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* animations */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*    Start of card for html */

.card{
    width: 90%;
    max-width: 470px;
    /* background:linear-gradient(135deg,#00feba,#5b548a); */
    border:3px solid white;
    color:#fff;
    margin: 40px auto 90px;
    border-radius: 20px;
    padding:40px 35px;
    text-align: center;
}
.search-box{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.search-box input{
    border:0;
    outline:0;
    background:#ebfffc;
    color:#555;
    padding:10px 25px;
    height: 60px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;

}
.search-box button{
    border:0;
    outline:0;
    background:#ebfffc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor:pointer;
}
.search-box button img{
    width:16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size:45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    margin-top:50px;

}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width:40px;
    margin-right:10px;
}
.humidity,.wind{
     font-size: 28px;
     margin-top:-6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}